<footer>
    <div class='cool-grey footer-left'>
        {% for link in site.data.links %}
            {{link.icon}} <a href={{link.link}}>{{link.display}}</a></br>
        {% endfor %}
    </div>
    <div class=''></div>
    <div class='cool-grey footer-right'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac diam eros. Sed turpis lacus, ultrices nec tincidunt vitae, pretium sed mi. 
            Praesent sed pharetra dui, ut bibendum urna. Etiam egestas mi porta maximus rutrum. Sed ut eros sed nisl commodo placerat. 
            Nulla eget elit sagittis, scelerisque ex nec, volutpat lacus. Pellentesque interdum vestibulum est sed venenatis.
    </div>
</footer>