<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{site.name}} // {{page.title}}</title>
  <meta name="description" content="A site where I can share my creations and a little about my self">
  <meta name="author" content="Adrian Figueroa">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">   
  <link rel="stylesheet" href={{"/assets/css/styles.css" | relative_url}}>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Cutive+Mono|Open+Sans+Condensed:300" rel="stylesheet">
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script src={{"/assets/scripts/prefixfree.min.js" | relative_url}}></script>
  <script src={{"/assets/scripts/37d45f49a6.js" | relative_url}}></script>
  <script src={{"/assets/scripts/tabscript.js" | relative_url}}></script>
  <script src={{"/assets/scripts/addimagelinks.js" | relative_url}}></script>

  {% if page.header-image %}
    <style>
      .header-image{
        height: 300px;
        background: url({{page.header-image}}) no-repeat center;
        background-size: 100% auto;
        visibility: visible;
      }
    </style>
  {% else %}
    <style>
      .header-image{
        visibility: hidden;
      }
      header > div{
        width: 100%;
        background-color:black;
        color: white;
      }
    </style>
  {% endif %}


</head>

<body class='cool-grey'>
  {% include menubtn.html %}
  <div class='banner'>{{site.bannertext}}</div>
  {% include navbar.html %}
  <header>
    <div class='header-title'> {{page.header-text}}</div><!--
    -->{% if page.header-image %}<div class='header-image' bgimg=''></div>{% endif %}
  </header>
  <div class='content-container'>
    {{content}}
  </div>
  {%include footer.html%}
</body>
</html>